.red {
    color: red;
  }
  
  .bold {
    font-weight: bold;
  }
  
  .Cockpit button {
    background: green;
    font: inherit;
    padding: 10px;
    border: 1px solid blue;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
  }
  
  .Cockpit button:hover {
    background: lightgreen;
    color: black;
  }
  
  .Cockpit button.Red {
    background-color: red;
  }
  
  .Cockpit button.Red:hover{
    background-color: salmon;
  }