.App {
  text-align: center;
}

.red {
  color: red;
}

.bold {
  font-weight: bold;
}

.Button {
  background: green;
  font: inherit;
  padding: 10px;
  border: 1px solid blue;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
}

.Button:hover {
  background: lightgreen;
  color: black;
}

.Button.Red {
  background-color: red;
}

.Button.Red:hover{
  background-color: salmon;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
